header {
    text-align: center;
}

nav {
    background-color: darkgrey;
    color: white;
    padding: 10px;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}



#profile {
    width: 29%;
    margin-right: 1%;;
    padding: 10px;
    width: 350px;
    border: 10px solid black;
}

#info {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.sub-box {
    width: 20%;
}

p {
    text-align: justify;
}

img {
    border-radius: 50%;
}

h2 {
    text-align: center;
}